# environments
env/
venv/

# cahe
__pycache__/
*.pyc

# environment variables (secrets)
.env

# databases
db.sqlite3
migrations/


# secret files
client_secrets.json
token.json

# vs code settings
.vscode
settings.json